  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
      scroll-behavior: smooth;
    }

    body {
      height: 4000px;
      background-color: #f0f0f0;
    }

    /* Navbar */
    .navbar {
      width: 100%;
      height:60px;
      background-color: #fff;
      color: #000;
      display: flex;
      align-items: center;
      justify-content: space-between; 
      padding: 0 20px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    }

    .logo {
      font-size: 20px;
      font-weight: bold;
    }

    .menu-icon {
      font-size: 28px;
      cursor: pointer;
      background: none;
      border: none;
      color: #000;
      }

    /* Side Menu */
    .side-menu {
      position: fixed;
      top: 0;
      left: -250px;
      width: 250px;
      height: 100%;
      background-color: #222;
      color: #fff;
      padding-top: 60px;
      transition: 0.4s;
      z-index: 1000;
    }

    .side-menu.active {
      left: 0;
    }

    .side-menu ul {
      list-style: none;
      padding: 0;
    }

    .side-menu ul li {
      padding: 15px 20px;
      border: 1px solid #444; 
    }

    .side-menu ul li a {
      color: #fff;
      text-decoration: none;
      display: block;
      font-size: 16px;
      transition: background-color 0.3s ease;
    }

    .side-menu ul li a:hover {
      background-color: #444;
    }

    .close-btn {
      position: absolute;
      top: 15px;
      right: 20px;
      font-size: 28px;
      cursor: pointer;
      background: none;
      border: none;
      color: white;
    }

    /* Optional overlay when menu open */
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: none;
      z-index: 999;
    }

    .overlay.active {
      display:block;
    }


    .scroll{
    position: fixed;
    right: 30px;
    bottom: 0px;
    background:red;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    visibility: hidden;
    opacity: 0;
    }

    .scroll.scroll_active{
    bottom: 30px;
    visibility: visible;
    opacity: 1;
    }

  .scroll:hover{
    background: #e44242;
  }
  .scroll a{
    color: #fff;
  }


  .progressScroll{
    position: fixed;
    top: 0;
    width: 0%;
    height: 5px;
    background-color: red;
  }